[2019-01-29 12:50] prasannamca1107 opened #1 "I need chat implement in xamarin forms"
can you pls update

[2019-01-29 13:18] AndreiMisiukevich commented on #1
@prasannamca1107 hi
you can use this plugin )
It should work

[2019-01-29 17:22] AndreiMisiukevich commented on #1
Read tutorial and check sample

[2019-01-29 17:22] #1 closed

[2019-01-30 11:30] prasannamca1107 opened #2 "How i implement Text Chat"
Can i implement text chat using opentok ? if yes can you pls guid me with sample(xamarin.forms)

[2019-01-30 11:32] AndreiMisiukevich commented on #2
@prasannamca1107 no, you can't
OpenTok is SDK for Video/Audio chats

[2019-01-30 11:32] #2 closed

[2019-05-16 22:13] AndreiMisiukevich opened #3 "Text messages / Signaling"
https://tokbox.com/developer/tutorials/android/text-chat/

[2019-05-28 11:19] Mibuw commented on #3
Is this signaling api already part of Xamarin.Opentok.Android? It would be a great addition.

[2019-05-28 11:42] AndreiMisiukevich commented on #3
@Mibuw seems yes :)
So, going to make awesome XF sdk-wrapper for that :)

[2019-06-10 00:47] AndreiMisiukevich commented on #3
Pushed code
So, i think, i will make release on this week

[2019-06-11 06:29] Mibuw commented on #3
Looks very promising, thanks a lot!

[2019-06-12 20:53] mimunoz opened #4 "Event when subscriber end session"
Hi Andrei! nice work porting Opentok library to Xamarin.Forms. I've been using a mix of native library to Xamarin.Android/Xamarin.iOS in Xamarin.Forms project. I've been testing this plugin but I miss the event when the other person ends the videocall, OnSessionEnded(). I'm trying to catch it in CrossOpenTok.Current.PropertyChanged += (sender, e) => {...} the combination when that happens, but it'

[2019-06-13 07:58] AndreiMisiukevich commented on #4
![image](https://user-images.githubusercontent.com/10124814/59414413-22e73a00-8dca-11e9-8214-45110022d2e9.png)

Unfortunately i haven't handle it yet

[2019-07-05 11:31] GorkaL opened #5 "_subscriberView in xaml page"
Hello Andrei,

Great work! It works perfect. Only one question, how can I include _subscriberView or _publisherView in xaml page?

Thanks in advance.

[2019-07-05 13:41] AndreiMisiukevich commented on #5
Hi)
More than easy)

[code]

[2019-07-05 13:41] #5 closed

[2019-07-18 10:08] AndreiMisiukevich commented on #4
IsSubscriberConnected

[2019-07-18 10:09] AndreiMisiukevich commented on #3
video is coming soon :)

[2019-07-18 10:09] #3 closed

[2019-07-24 13:08] Mibuw opened #6 "Take a snapshot in Android"
Hi,

is there a way to make a snapshot of the current Publisher stream?
I tried it in PlatformOpenTokService with the following:
[code]
But I only get a black image in return. Do you habe any suggestions?

BR
Wolfgang

BTW. Signaling is working perfectly!

[2019-07-24 13:09] Mibuw commented on #6
Btw. in iOS it is working perfectly:
[code]

[2019-07-24 13:40] AndreiMisiukevich commented on #6
@Mibuw seems you forgo layout

var canvas = new Canvas(screenshot);
rootView.layout(0, 0, rootView.Width, rootView.Height);
rootView.Width.draw(c);

check https://stackoverflow.com/questions/9791714/take-a-screenshot-of-a-whole-view

[2019-07-24 14:32] Mibuw commented on #6
Nope, still not working.

[2019-07-24 16:43] Mibuw commented on #6
I guess without a custom renderer it is not possible :(

[2019-07-24 18:47] AndreiMisiukevich commented on #6
@Mibuw good question

[2019-08-23 07:15] Nikitajain1121 opened #7 "KeyURL not found in config.cs file in the sample."
I have integrated the provided github solution, but there is not "Key URL" provided.
Please suggest from where I can get the key url for my project used in the below snippet:

[code]

[2019-08-23 07:44] Mibuw commented on #7
You have to make an account on tokbox.com!

[2019-08-23 08:17] AndreiMisiukevich commented on #7
yeah, it's true. Create account here https://tokbox.com/ and follow steps.
You will get Api key, test session id and user token.

[2019-08-23 08:17] #7 closed

[2019-08-30 19:24] lh-rmyers opened #8 "Multiparty video chat"
I'm currently trying to use this library to start a multiparty video chat, but it's not quite working as expected. When the third user joins the session, he acts as a view only subscriber as opposed to a publisher. This means the first two users don't see or hear his stream, and he only sees the first users stream. Is there a method I'm missing to enable multiparty?

[2019-09-01 19:19] AndreiMisiukevich commented on #8
Hi @lh-rmyers
not sure it's possible to achieve for now with this library

[2019-09-02 09:39] AndreiMisiukevich commented on #8
Do you use a trial account or not?

[2019-09-03 12:57] lh-rmyers commented on #8
Well that's quite unfortunate that it may not be possible. I've already started a couple of weeks of development time, and this was a requirement (that I admittedly should have tested day one). I do have a trial account yes. Would that possibly be the difference?

[2019-09-03 13:01] AndreiMisiukevich commented on #8
@lh-rmyers hm, but if you use a trial account, it means that you use the same UserToken for all three users. Maybe this is the reason, not sure.

[2019-09-03 13:10] lh-rmyers commented on #8
@AndreiMisiukevich That's actually something I tested for to be sure. We are uniquely generating tokens on a per user basis already as we have implemented an API that uses the OpenTokSDK to generate the keys. I appreciate any tips you might have. I'll be continuing to investigate any possible solutions in the mean time.

[2019-09-03 13:27] AndreiMisiukevich commented on #8
@lh-rmyers hmmm

@alexsorokoletov could you please help ?)

[2019-09-04 17:45] alexsorokoletov commented on #8
Sure, @lh-rmyers OpenTok supports multiparty calls, so does Xamarin OpenTok SDK (iOS/Android).
We did a couple of apps doing just that.

This part is determined by whatever you do after you join a session.
If you only subscribe then you only see and hear.
If you publish your stream and other clients subscribe to _your stream_ then they can hear and see you.

So check whether you call `Publish` aft

[2019-09-04 19:03] lh-rmyers commented on #8
@alexsorokoletov Good to hear this is already supported! I'm still struggling in getting it working though. I don't want to ask for free support or anything, but if you have any examples on how to call Publish, I'm happy to use that as an example. As it is right now. I don't see a place in this example code to put it. There's a lot going on behind the scenes and I'm struggling to delve into it at

[2019-09-04 20:52] AndreiMisiukevich commented on #8
@lh-rmyers I think, the best approach would be - download this project as source code, implement this feature and make PR :)

[2019-09-09 18:55] lh-rmyers commented on #8
@AndreiMisiukevich Hey, I've been working on implementing this feature (so far in Android only, iOS will come when it's done), and I was wondering if I could get help on what I'm hoping is the last step. I've got it so that I can add each subscriber to the chat room, but I can only hear them, I don't see them for some reason. If you get a chance, could you take a look into what I might be doing wr

[2019-09-10 09:32] AndreiMisiukevich commented on #8
@lh-rmyers sorry, now I have extremely little time :( I will be more free in 1 month I think :(

[2019-09-10 09:33] AndreiMisiukevich commented on #8
@lh-rmyers but if i have i chance to look, i will do it

[2019-09-13 11:42] WermesRodrigues opened #10 "Integrate OpenTok + ReplayKit"
Hi Andrei,

There is a feature very important and I think will be helpful for many people the integration of SDK with ReplayKit from Apple to share the screen.

The user will be able to share the screen of the App and navigate between other screen.

Is there one way to share the screen using the OpenTok?

Many Thanks.

[2019-09-13 11:54] AndreiMisiukevich commented on #10
Hi, don't think so
OpenTok is just library for video/audio calls and text messaging

[2019-09-18 22:27] #10 closed

[2019-09-25 05:06] GorkaL commented on #7
Hello Andrei,

Is there any way to get the session and token automatically? How can I configure that Config.KeysUrl to get the info automatically?

[2019-09-26 09:35] AndreiMisiukevich commented on #7
@GorkaL Hi, follow steps on tokbox.com. It's possible to deploy your own server to heroku and get keys from that server

[2019-10-03 15:27] GorkaL opened #11 "Audio control?"
Hi, is there any option to control the audio volume?

[2019-10-04 06:54] AndreiMisiukevich commented on #11
Need to check it

[2019-10-09 20:52] AndreiMisiukevich commented on #8
1.2.0

[2019-10-09 20:52] #8 closed

[2019-10-09 21:42] AndreiMisiukevich commented on #11
didn't find how to achieve it

@alexsorokoletov, sorry for disturbing. Is it possible to control the volume of subscribers? I found only JS related info...
Thanks!

[2019-10-18 01:55] alexsorokoletov commented on #11
@AndreiMisiukevich I don’t recall off top of my head - if it is possible with iOS or Android SDK then possible with Xamarin SDK.
Sorry for the redirection instead of answer.

[2019-10-18 17:25] AndreiMisiukevich commented on #11
@alexsorokoletov thank you for your answer!
I haven't found anything related to audio controlling in the docs.

@GorkaL if you find some info about how to control audion in tokBox docs, let me know, I'll implement this feature

[2019-10-18 17:25] #11 closed

[2019-10-20 22:45] #6 closed

[2019-10-28 02:56] JojoDuke opened #12 "Video Decoder Error"
Hello, I've followed all steps and looked at the sample code but any time I try running on a physical device I get this same error.
`Severity	Code	Description	Project	File	Line	Suppression State
Error		java/lang/String;)Lorg/webrtc/VideoDecoder;: defining a default interface method requires --min-sdk-version >= 24 (currently 13) for interface methods: org.webrtc.VideoDecoderFactory.createDecoder :

[2019-10-28 08:44] AndreiMisiukevich commented on #12
@JojoDuke show me your manifest file

[2019-10-28 08:48] AndreiMisiukevich commented on #12
![image](https://user-images.githubusercontent.com/10124814/67664492-c94a6b00-f978-11e9-9810-fe2bc85d7b47.png)

this should be 24

[2019-10-28 08:48] #12 closed

[2020-01-21 12:02] manigandan-cse opened #13 "Mute and unmute video as well as audio"
Hi,
I'm trying to implement a video chat application, i have to add the feature to mute and unmute audio as well video. How can I do it with it. Thanks in advance.

[2020-01-21 12:05] AndreiMisiukevich commented on #13
![image](https://user-images.githubusercontent.com/10124814/72803589-850cf500-3c5f-11ea-8a46-f49c07345f04.png)

[2020-01-21 12:05] #13 closed

[2020-01-21 12:07] manigandan-cse opened #14 "Publisher view hides when subscriber video is loaded"
Hi,
 When I change the view of the ChatRoomPage.xaml, the publisher view is getting hidden once subscriber stream is loaded. how can I fix it?

Thanks.

[2020-01-21 12:10] AndreiMisiukevich commented on #14
How did you change it? And what is your issue? provide xaml / video.
I cannot reproduce it on my sample

[2020-01-21 12:19] mthirukavi commented on #14
[code]

[2020-01-21 12:29] AndreiMisiukevich commented on #14
why did you add it twice?

[code]

[2020-01-21 12:30] AndreiMisiukevich commented on #14
Anyway, it's not an issue of this library (if it works on my sample). Fix your layout.

[2020-01-21 12:30] #14 closed

[2020-01-21 12:37] mthirukavi commented on #14
It was there one time only in my code, i pasted twice here.

The publisherview in overlayed by subscriberview. I mean the publisherview is under subscriberview. so i cant view the publisher profile.

[2020-01-21 12:58] AndreiMisiukevich commented on #14
I got it, but it's not an issue related to this library. Something is wrong with absolute layout

[2020-01-21 13:02] mthirukavi commented on #14
ok. Thanks. Its really a great work what you have done.

[2020-01-22 15:21] kldp opened #15 "got an error when build project"
java.lang.IllegalArgumentException: already added :  Lcom/google/devtools/build/android/desugar/runtime/ThrowableExtension;

please help...

[2020-01-23 04:12] mthirukavi commented on #4
@mimunoz or @AndreiMisiukevich Can you please share your idea of showing "video paused" message to publisher when subscriber pauses the video and vice versa.

[2020-01-23 06:43] #15 closed

[2020-01-23 08:35] AndreiMisiukevich commented on #15
Hi, @kldp have you resolved this issue?

[2020-01-23 08:37] AndreiMisiukevich commented on #15
It seems to be a Xamarin issue https://www.google.com/search?sxsrf=ACYBGNRVGkwm_gb5-kRT_wsGc0bCgrORVQ%3A1579768564241&ei=9FopXsyuDrqDk74PsdyzsAs&q=xamarin+%22Lcom%2Fgoogle%2Fdevtools%2Fbuild%2Fandroid%2Fdesugar%2Fruntime%2FThrowableExtension%22&oq=xamarin+%22Lcom%2Fgoogle%2Fdevtools%2Fbuild%2Fandroid%2Fdesugar%2Fruntime%2FThrowableExtension%22&gs_l=psy-ab.3...317.1561..1698...0.0..0.115.1044.4j6..

[2020-01-23 08:42] AndreiMisiukevich commented on #4
@mthirukavi each view of OpenTokSubscriberView *(and even OpenTokePublisherView)* have **IsVideoViewRunning** bindable property.

https://github.com/AndreiMisiukevich/OpenTok-Xamarin.Forms/blob/master/Lib/Xamarin.Forms.OpenTok/OpenTokView.cs

For example, you can add a trigger or workaround with bindings

Does it help?)

[2020-01-23 09:15] kldp commented on #15
Yes, it is Xamarin issue, but not find any solution yet..Thanks for look in to that

[2020-01-28 16:02] rgustavsson commented on #14
@mthirukavi did you manage to get around it? I know it is not an issue with this lib but I am having the same issue..

[2020-01-29 12:22] mthirukavi commented on #14
@rgustavsson Nope... But it's working fine in iOS devices, the problem is only with Android devices. Working on it. Once got it, will update here.

[2020-01-31 14:01] kldp opened #16 "video layer not showing in iphone"
Hi @AndreiMisiukevich for android its working fine, but for iPhone i did not get video layer for publisher and subscriber view. but on other hand(server side) my video is showing. microphone is working fine with both end. i have added   PlatformOpenTokService.Init(); in aapdelegate.cs file. is there anything else which i need to add or configure. Please help.

[2020-01-31 14:03] AndreiMisiukevich commented on #16
Hi, download my sample from github and try to run the app with your keys

[2020-01-31 14:03] AndreiMisiukevich commented on #16
https://github.com/AndreiMisiukevich/OpenTok-Xamarin.Forms/blob/master/Xamarin.Forms.OpenTok.Sample/ChatRoomPage.xaml

[2020-01-31 14:04] AndreiMisiukevich commented on #16
and check readme again. You need to add some strings to info.plist

[2020-01-31 21:56] #16 closed

[2020-02-01 13:28] AndreiMisiukevich commented on #16
Did you solve this problem?

On Fri, Jan 31, 2020 at 23:56 kuldeep saraswat <notifications@github.com>
wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at ISsoft Solutions*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2020-02-03 11:25] almirtavares commented on #14
Hi guys.... I have the same problem: Publisher view hides when subscriber video is loaded.

[2020-02-03 11:48] almirtavares opened #17 "Publisher view hides when subscriber video is loaded using AbsoluteLayout"
When I use at least one of the two views (Publisher or Subscriber) inside the AbsoluteLayout, the publisher view is getting hidden once subscriber stream is loaded. Is there a workaround from Lib about that?

[2020-02-03 19:52] AndreiMisiukevich commented on #17
Hi, I heard about this issue.

what will happen if you wrap your views with additional ContentView?

[2020-02-04 12:35] almirtavares commented on #17
- "what will happen if you wrap your views with additional ContentView?"

Subscriber overrides all other elements.

[2020-02-04 12:37] almirtavares commented on #17
We are testing XAML is shown below:

<?xml version="1.0" encoding="utf-8"?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:d="http://xamarin.com/schemas/2014/forms/design"
             xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
             xmlns:tok="clr-namespace:Xamarin

[2020-02-04 12:48] AndreiMisiukevich commented on #17
Both iOS and Android?

[2020-02-04 13:15] almirtavares commented on #17
We have not tested it on iOS yet, just Android.

[2020-02-04 13:24] almirtavares commented on #17
SubscriberView and PublisherView Layers are loaded in the right order on the screen. When the video reception begins, SubscriberView overrides on the PublisherView.

Is there any way I can configure PublisherView to start after SubscriberView starts?

I think that changing the order of the initializations may solve it.

[2020-02-04 13:54] AndreiMisiukevich commented on #17
[code]

Try this renderer (make sure it is called)

[2020-02-05 11:15] karthick-potter opened #18 "Audio Call Only"
Hi Andrei,
    And how to do Audio call only ?

[2020-02-05 21:27] AndreiMisiukevich commented on #18
IsVideoPublishingEnabled = false

[2020-02-05 21:27] #18 closed

[2020-02-06 21:15] AndreiMisiukevich commented on #17
Did it help?

[2020-02-06 21:37] AndreiMisiukevich commented on #17
Or wait a sec. Seems I found a solution

[2020-02-06 21:39] AndreiMisiukevich commented on #17
1.2.1

[2020-02-06 21:39] #17 closed

[2020-02-06 21:40] AndreiMisiukevich commented on #14
v 1.2.1 !!!

[2020-02-07 11:56] almirtavares commented on #17
I still have not been able to test the renderer you gave. We are testing some alternatives and have a short schedule for the development of the project.

[2020-02-07 11:58] almirtavares commented on #17
Thanks for the contribution and release 1.2.1.

[2020-02-18 07:49] mthirukavi opened #19 "Ring feature."
Hi @AndreiMisiukevich,
   how to implement ring feature using this library?

[2020-02-18 08:16] AndreiMisiukevich commented on #19
Open solution, configure the app with your keys and run sample.

[2020-02-18 08:16] #19 closed

[2020-02-18 08:59] mthirukavi commented on #19
Yes, It's working fine. We designed it like Webex to join the session. Now we have to do it like WhatsApp Call. When the publisher clicks a button subscriber has to receive the call. There he can accept the call or reject it. Once rejected should notify the publisher.

[2020-02-18 09:11] AndreiMisiukevich commented on #19
There is https://github.com/AndreiMisiukevich/OpenTok-Xamarin.Forms/blob/master/Lib/Xamarin.Forms.OpenTok/Service/IOpenTokService.cs#L10

it's an observable collection of current subscribers. If it changes, it means that somebody is joined or exited.

[2020-02-29 01:32] AbuMandour commented on #19
Do this work when app is killed ?

[2020-02-29 08:18] AndreiMisiukevich commented on #19
No idea, not sure

[2020-03-11 08:40] mthirukavi opened #20 "App store publish error"
After development, I submitted the App to AppStore, I received the following mail. In our code, we don't use any WebView APIs. Is this the problem with your library.

**ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of new apps that use UIWebView APIs starting from April 2020.**

If yes, can you kindly let us know the alternate?

Thanks,
MTK.

[2020-03-11 09:00] AndreiMisiukevich commented on #20
Hi, of course, this problem is not with my library.
This problem is related to Xamarin.Forms
https://github.com/xamarin/Xamarin.Forms/issues/7323

[2020-03-11 09:00] #20 closed

[2020-03-20 01:01] kcp210 opened #21 "Nothing happens when selecting "Click to Chat""
I downloaded this repo and hardcoded keys in App.cs. When I run the project on iOS and Android, nothing is happening when I click the click to chat button. On Android, it does ask for permissions, but I cannot get the ChatRoomPage to push.

[2020-03-20 01:32] AndreiMisiukevich commented on #21
Did you add permissions to manifest https://github.com/AndreiMisiukevich/OpenTok-Xamarin.Forms ?

[2020-03-20 01:34] AndreiMisiukevich commented on #21
Did you add CrossCurrentActivity.Current.Activity = this; // Add this line ?

[2020-03-20 01:34] AndreiMisiukevich commented on #21
PlatformOpenTokService.Init();

[2020-03-20 01:35] AndreiMisiukevich commented on #21
Or you using my sample?

Weird, it should work. Can you confirm that keys are not overridden somehow

[2020-03-20 01:38] kcp210 commented on #21
Thank you for your quick response. I was using your sample, but the keys were getting overwritten after I set them. All works now. Thank you!

[2020-03-20 01:38] #21 closed

[2020-04-03 23:38] PeraDev7 opened #22 "Multi party and create session?"
Anyone can help me? I need how to build the "create session" section like on web.
Thanks

[2020-04-04 13:35] AndreiMisiukevich commented on #22
https://github.com/AndreiMisiukevich/OpenTok-Xamarin.Forms/blob/master/Xamarin.Forms.OpenTok.Sample/ChatRoomPage.xaml

[2020-04-04 14:53] PeraDev7 commented on #22
can i use with Android?

[2020-04-04 15:07] AndreiMisiukevich commented on #22
yes

*Andrei Misiukevich*

*Lead Software Engineer at ISsoft Solutions*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

On Sat, Apr 4, 2020 at 5:53 PM PeraDev <notifications@github.com> wrote:

[2020-04-04 15:13] PeraDev7 commented on #22
how? Sorry i'm new in xamarin

[2020-04-04 15:40] AndreiMisiukevich commented on #22
https://www.vonage.com/communications-apis/video/

then download sample, setup keys and run

[2020-04-04 15:40] #22 closed

[2020-04-04 15:41] PeraDev7 commented on #22
i have the keys, i cannot run the .form project, but only android :(

[2020-04-04 15:44] AndreiMisiukevich commented on #22
you should run android project

[2020-04-04 15:44] AndreiMisiukevich commented on #22
Xamarin.Forms.OpenTok.Sample.Android

[2020-04-04 15:45] PeraDev7 commented on #22
can you write me on skype? https://join.skype.com/invite/hnNTVKvwuj4U

[2020-04-04 15:46] AndreiMisiukevich commented on #22
remove this code and put your keys there
https://github.com/AndreiMisiukevich/OpenTok-Xamarin.Forms/blob/master/Xamarin.Forms.OpenTok.Sample/App.cs#L16-L33

[2020-04-04 15:48] PeraDev7 commented on #22
i need the option to create session, if possibile

[2020-04-04 15:53] PeraDev7 commented on #22
can you write me on skype?

[2020-04-09 22:32] PeraDev7 opened #23 "How to multi party?"
Can i use the multi party feature in xamarin? How?

[2020-04-09 22:36] AndreiMisiukevich commented on #23
Xamarin.Forms
Here is the xaml of chat page for several participants: https://github.com/AndreiMisiukevich/OpenTok-Xamarin.Forms/blob/master/Xamarin.Forms.OpenTok.Sample/ChatRoomPage.xaml

Setup keys and run the sample from 3 devices e.g.

[2020-04-09 22:36] #23 closed

[2020-04-09 22:37] PeraDev7 commented on #23
Can i contact you? I can pay you.. i need some customizations

[2020-04-10 10:28] AndreiMisiukevich commented on #23
@PeraDev7 can you show what do you want to achieve?

[2020-04-15 20:17] pbalbino opened #24 "Blurred video from back camera"
Congratulations on the project.

I would like to know if it is possible to improve the focus on the video. I need to show a TV tag, but the camera is blurry.

For testing I'm using a Moto G7 Power 64GB 4GB OctaCore 1.8GHz 6.2 "12MP.

[2020-04-15 22:07] AndreiMisiukevich commented on #24
Hi, frankly speaking, I don't know. But I believe it depends on your device's camera quality.

[2020-04-15 22:11] AndreiMisiukevich commented on #24
please show how does it look and what do you want to achieve

[2020-04-15 23:19] pbalbino commented on #24
The first image is from the app that uses opentok.
The second is from the camera app, both from the same smartphone, same scenario.
![1](https://user-images.githubusercontent.com/25305220/79398162-52208780-7f56-11ea-99c9-3926796f2f04.png)
![2](https://user-images.githubusercontent.com/25305220/79398168-564ca500-7f56-11ea-9958-0eead599d7be.png)

[2020-04-15 23:32] AndreiMisiukevich commented on #24
https://stackoverflow.com/questions/45585045/tokbox-video-publish-unfocused-android

Hm, looks like this issue was fixed in 2.16.1

[2020-04-15 23:37] AndreiMisiukevich commented on #24
try to add

```<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />```

inside your manifest file

[2020-04-15 23:39] AndreiMisiukevich commented on #24
Maybe your device doesn't support autofocus?

Can you try with another one?

[2020-04-15 23:40] AndreiMisiukevich commented on #24
Well, I believe this won't help..

[2020-04-15 23:44] AndreiMisiukevich commented on #24
Anyway, can you try to add

```<uses-feature android:name="android.hardware.camera.autofocus" android:required="true" />```
to manifest, then

```<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />```

Then let me know the result)

[2020-04-16 00:11] pbalbino commented on #24
here I did not understand what I have to do, it seems that the link is broken

[2020-04-16 00:12] pbalbino commented on #24
tested in 3 so far and both are the same.

[2020-04-16 00:13] AndreiMisiukevich commented on #24
have you tried to set uses-feature ?

[2020-04-16 00:14] pbalbino commented on #24
I tried the 2 options and it remains the same, unfocused

I can't tell you if the device I'm using has autofocus.

[2020-04-16 00:37] pbalbino commented on #24
Yes, but I only tested it on 1 device (there was no change), as the others belong to my client. Tomorrow I will send the APK with the options for him to test on the other devices.

[2020-04-17 13:09] pbalbino commented on #24
My client tested it on two other devices, but it remains unfocused.
![vistoria_remota](https://user-images.githubusercontent.com/25305220/79572587-949bae80-8093-11ea-939f-918d64d55aa8.jpeg)

[2020-04-17 13:21] AndreiMisiukevich commented on #24
Thanks

[2020-04-17 19:40] AndreiMisiukevich commented on #24
@pbalbino well, try v.1.2.3 please

[2020-04-17 21:04] pbalbino commented on #24
Now it looks good, see the difference in the image.

Do I keep any of these options?
`<uses-feature android:name="android.hardware.camera.autofocus" android:required="true" />`
`<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />`

![Screenshot_20200417-175827](https://user-images.githubusercontent.com/25305220/79613813-a736d780-80d5-11ea-99f2-b300595a38fe.pn

[2020-04-17 21:22] AndreiMisiukevich commented on #24
I presume packages updating helped.

On Sat, Apr 18, 2020 at 00:04 pbalbino <notifications@github.com> wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at ISsoft Solutions*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2020-04-19 20:58] #24 closed

[2020-04-20 20:01] pbalbino opened #25 "White screen on iphone"
It is not showing the video of what is being filmed on the iphone screen (iphone 6s iOS 13.4). Android is correct, I was the one who requested the focus recently. Now I went to test on the iphone and I couldn't, follow my xaml.

Note: In the app that receives the video it is possible to see the transmission, both in the front and back cameras, but on the screen itself is all white.
![IMG_20200420_

[2020-04-20 20:06] AndreiMisiukevich commented on #25
Can you try to run my sample (on github) with your keys
Does it work for you?

Maybe it's layout issue

[2020-04-20 20:08] AndreiMisiukevich commented on #25
```<tok:OpenTokPublisherView HorizontalOptions="FillAndExpand" VerticalOptions="FillAndExpand" BackgroundColor="LightGray"/>```

But We don't see "LightGray" at all.

[2020-04-20 20:26] pbalbino commented on #25
I removed it, it was just to visualize the location, but even so the screen remains white.

[2020-04-20 20:28] pbalbino commented on #25
Sorry for my lack of knowledge, but to install your test app on the iphone will I have to provision profile too?

[2020-04-20 20:30] AndreiMisiukevich commented on #25
You can try from simulator for example)
Or just set app bundle to your app's bundle.

[2020-04-20 20:36] pbalbino commented on #25
I did a little test and removed the control from RelativeLayout:

    <StackLayout IsVisible="{Binding StageVisibility, Converter={StaticResource VisibilityVistoriaRemotaConverter}, ConverterParameter=1}" HorizontalOptions="FillAndExpand" VerticalOptions="FillAndExpand">
                    <tok:OpenTokPublisherView HorizontalOptions="FillAndExpand" VerticalOptions="FillAndExpand"/>

[2020-04-20 21:59] AndreiMisiukevich commented on #25
I see that you didn't add any constraints to relative layout children. I presume this is the problem.

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/layouts/relative-layout

[2020-04-20 21:59] #25 closed

[2020-04-23 17:29] gastonagusti opened #26 "Android Issue"
Hi, i have a problem whit Xamarin Android Implementation.

![sdkproblem](https://user-images.githubusercontent.com/52378820/80130190-991e0680-856e-11ea-9f6f-4efe6f0d4cff.png)

is there a solution to this?

[2020-04-23 17:39] AndreiMisiukevich commented on #26
Try to build my sample project
It works for me even with 21 min version

[2020-04-23 17:40] AndreiMisiukevich commented on #26
Also check this
![image](https://user-images.githubusercontent.com/10124814/80131234-9937f980-85a2-11ea-989f-5b5902a23ed2.png)

Probably you need remove all bin/obj folders. Clean and rebuild

[2020-04-23 18:42] gastonagusti commented on #26
Hi, thanks for the reply! try that solution but it doesn't work =(

[2020-04-24 10:59] AndreiMisiukevich commented on #26
Did you try to build my sample?

[2020-04-24 11:00] AndreiMisiukevich commented on #26
https://stackoverflow.com/questions/57027952/xamarin-build-error-defining-a-default-interface-method-requires-min-sdk-vers

[2020-04-24 11:03] AndreiMisiukevich commented on #26
You can follow steps provided there https://github.com/Baseflow/XamarinMediaManager/issues/526

[2020-04-26 14:21] AndreiMisiukevich commented on #26
Important

![image](https://user-images.githubusercontent.com/10124814/80310244-56fcfb00-87e2-11ea-9a60-c62e4eb16aeb.png)

[2020-04-26 14:25] #26 closed

[2020-04-28 14:13] kldp opened #27 "Remove_popup"
Hi,
When we start chat, there is a popup which  populated by default over the screen. user have to close it then we can see other user video. can we remove/close it automatically? or there is any mechanism to not show the popup by default?
Please suggest me if it is possible. Thanks

[2020-04-28 14:15] AndreiMisiukevich commented on #27
Hi, what the popup is? Can you attach a screenshot?

[2020-05-02 00:16] AndreiMisiukevich commented on #27
I presume that's permission requesting alert. And of course, it's impossible to skip it

[2020-05-02 00:16] #27 closed

[2020-05-05 09:18] kldp commented on #27
yes, that was permission requesting alert, and can't skip. thanks

[2020-05-12 09:53] Mibuw opened #28 "Opentok Pre-Call test"
Hi Andrei, is there any possibility to include a pre-call test to check the connection upfront?!
I saw samples in javascript and native ios and android but nothing in xamarin so far.

Regards - Wolfgang

[2020-05-12 18:48] AndreiMisiukevich commented on #28
Hi, feel free to make PR with this feature. I don't know how to implement it :)

[2020-05-24 02:23] mthirukavi opened #29 "Subscriber video paused- show message to publisher."
Hi Friend,
   I want to show a message to publisher as "Video paused by other party" when subscriber pauses the video. How to achieve it?

[2020-05-24 10:17] AndreiMisiukevich commented on #29
https://github.com/AndreiMisiukevich/OpenTok-Xamarin.Forms/blob/master/Lib/Xamarin.Forms.OpenTok/OpenTokView.cs#L9

All opentok views have property for determining if the video is running (So, just observe this property)

[2020-05-24 10:17] #29 closed

[2020-06-01 10:30] alirazamsp opened #30 "Remove binding to StreamIdCollection() from one Page and bind it again on another Page automatically on Android"
I have first screen in which I have one publisher and subscriber view which works great. I navigate to next screen by PushModelAsync and I have a ListView in next screen. I have a subcriberView in the ItemTemplate of the listview which is binded to StreamIdCollection.

When I launch app, i see first screen and i can see publisher and subscriber. I go to see participants on the next screen. It work

[2020-06-01 10:37] alirazamsp opened #31 "Is there any way to get Audio Levels Information in Xamarin Forms ?"
If you refer to this documentation page on TokBox site:
[https://tokbox.com/developer/guides/customize-ui/android/index.html#audio_levels](url)

They have a method for android to get Audio Levels information for each subscriber and publisher. Can we have this in Xamarin Forms SDK or a way to add this using Renderer/ Dependancy service ?
Below is the sample method from native Android documentation:

[2020-06-01 10:43] AndreiMisiukevich commented on #31
Not for now) But if you wish, you may make a PR

[2020-06-01 11:32] AndreiMisiukevich commented on #30
Hi, it looks like Xamarin.Forms bug.

[2020-06-01 11:34] alirazamsp commented on #30
I will manage this by calling EndSession() and TryStartSession() upon navigating back to first page from second(Participants) Page.

[2020-06-01 11:42] AndreiMisiukevich commented on #30
very similar https://github.com/xamarin/Xamarin.Forms/issues/5911

[2020-06-01 12:00] AndreiMisiukevich commented on #30
try 1.2.5 (it will become available in 20 mins) and let me know

[2020-06-01 15:40] #30 closed

[2020-08-25 10:37] sota1994 opened #33 "publishing to multiple sessions"
Hi,
I need to publish my front camera to multiple 1:1 sessions. What should I do to achieve that? I tried to modify OpenTokPlatformService class to create multiple instances, but unfortunately when my device was publishing to the second session the stream in the first one stopped.
I hope to hear back from you soon.
Dung

[2020-08-25 11:18] AndreiMisiukevich commented on #33
Hi, unfortunately, the current implementation doesn't allow us to achieve it.
I am not sure if it even possible, but in theory, we should create several Services instead of using CrossOpenTok

Every renderer should use its own service implementation (One service per session).

Maybe you can use group call but just don't show "redundant" participants?

[2020-08-26 01:58] Gaisuru opened #34 "Add event for new stream subscriptions"
I have an app where I have two views. I want to populate them based on the first and second id in the collection. I need to manually bind these IDs but I do not know when the CrossOpenTok.Current.StreamIdCollection object will be populated. I am force to do a while loop and check the collection. Having an event to let us know that a the collection changed would be very helpful.

[2020-08-26 07:49] AndreiMisiukevich commented on #34
Hi!
StreamIdCollection is ObservalbeCollection

```CrossOpenTok.Current.StreamIdCollection.CollectionChanged += (s, e) => { }```

[2020-08-26 08:20] sota1994 commented on #33
Thank you for your response.
Yes, I think using group call might be a more viable solution, for I don't want to modify existing code too much.
Again, thank you for your help.

[2020-08-26 08:20] #33 closed

[2020-08-31 15:29] Gaisuru commented on #34
@AndreiMisiukevich That doesn't work. None of those type of properties are accessible because of the protection level of StreamIdCollection. Try to reference that in your sample project.

[2020-08-31 15:55] AndreiMisiukevich commented on #34
v 1.2.6

[2020-08-31 15:55] #34 closed

[2020-08-31 15:56] AndreiMisiukevich commented on #34
Use StreamIdCollectionChanged event

[2020-09-15 09:40] DasVerma opened #35 "OpenTokSubscriberView not working"
Hi,

this is query
I implemented this plugin in my xamarin forms project, created account obtained key, session and token but OpenTokSubscriberView not showing anything. is there any specific configuration needed or else? or how subscriberview works

[2020-09-15 10:23] AndreiMisiukevich commented on #35
Publisher - You
Subscriber - Any another participant in the chat

So, just join the same session from another device

[2020-09-15 10:39] DasVerma commented on #35
So
"CrossOpenTok.Current.TryStartSession()" this will start session as "Publisher" then How "Subscriber" will join session, is there any method for joining same session ?
I installed the app (xamarin forms - android) in two different device and from one device clicked "click to chat"
and "OnEndCall" throwing exception of object reference

[2020-09-15 10:51] AndreiMisiukevich commented on #35
Run my sample app (with your keys) on two different devices and click try start session on both

[2020-09-15 11:24] DasVerma commented on #35
Yes i tried with your sample, its crashing for the second device
Case - Opened app with first device clicked "Click to Chat" working fine showing "publisher view" but with second device on click "Click to chat" its closing app.

[2020-09-15 12:05] AndreiMisiukevich commented on #35
Any stack trace appreciated)

[2020-09-15 14:07] mr-johnlocke8 opened #36 "[Xamarin.iOS] Exception with CrossOpenTok.Current.EndSession()"
Following the sample app, when I attempt to end the call and click the "End Call" button, I get the following exception:

Looking at the stack trace, I found the error to be caused by these lines:
Line 93 @ PlatformOpenTokService.cs `_subscriberStreamIds.Clear();`
Line 98 @ BaseOpenTokService.cs `protected void OnSubscriberStreamIdsCollectionChanged(object sender, NotifyCollectionChangedEventArgs

[2020-09-15 14:50] AndreiMisiukevich commented on #36
StreamIdCollectionChanged?.Invoke instead of StreamIdCollectionChanged ... my mistake

[2020-09-15 22:14] #36 closed

[2020-09-15 22:51] #35 closed

[2020-09-16 07:39] AndreiMisiukevich commented on #35
check newest version

[2020-09-16 07:39] AndreiMisiukevich commented on #36
check the newest version

[2020-09-16 09:16] mr-johnlocke8 commented on #36
Thank you Andrei!

[2020-10-25 19:33] byronCoetzee opened #38 "Screen sharing - not being picked up"
Hi Andrei,
I am coding a combined website and mobile app solution. its online-tutoring solution,

When I change from video share to screen share on the site the xamarin nuget solution does not pick up the change and re-subscribe.
if I change back to video share - it does re-subscribe.
Can you include this?

Or is there a way I can react to an event where I see its now screen-share video and then r

[2020-10-25 20:27] AndreiMisiukevich commented on #38
Hi try 1.2.9 (will be available in 20-30 mins)

[2020-10-26 07:40] byronCoetzee commented on #38
Hi Andrei,
thanks for help so far!
I upgraded to latest 1.2.9 across the project, but it still does not work.
It seems to work when I exit the xamarin form and re-enter the chat, but when I just stay on the xamarin chat then the switch to screen is not picked up and re-subscribed.

Regards,
Byron

[2020-10-26 07:51] AndreiMisiukevich commented on #38
@byronCoetzee is this event triggered?
https://github.com/AndreiMisiukevich/OpenTok-Xamarin.Forms/blob/master/Lib/Xamarin.Forms.OpenTok/Service/IOpenTokService.cs#L15

Can you check?

[2020-10-26 09:49] byronCoetzee commented on #38
yes when I change to screen share I get two events though there. (is there anything specific you want printed out ?)
just this
[0:] **** OnCollectionChanged System.Collections.Specialized.NotifyCollectionChangedEventArgs
[0:] **** OnCollectionChanged System.Collections.Specialized.NotifyCollectionChangedEventArgs

but when i change to normal video share there is whole lot of them (this works)

[0:

[2020-10-26 13:21] byronCoetzee commented on #38
Hi Andrei,
I think I fixed this from my side.
I noticed there were less events coming through and most especially, there was no "remove" action coming through. So I changed my web page javascript code to make a more emphatic signal that the video publishing was off, before publishing the screen video. Your package seems to like this 👍
Thanks you so much for your help!!

[2020-10-26 15:08] #38 closed

[2020-10-27 12:29] mr-johnlocke8 opened #39 "About Permissions"
Hello Andrei, thank you for this great plugin!
I have a slight problem with the permissions.
My use case is audio only, so that I don't need camera permissions. Is there any way to prevent the app from asking the user to enable camera permissions?

Also, on Android, is there an option to not ask for local storage permissions?
I need to ask only for microphone permissions.

Thank you.

[2020-10-27 13:08] AndreiMisiukevich commented on #39
Hi, I think this can be enhanced.

Here is the requested permissions list: https://github.com/AndreiMisiukevich/OpenTok-Xamarin.Forms/blob/master/Lib/Xamarin.Forms.OpenTok.Android/Service/PlatformOpenTokService.cs#L23

But you can work around it now for your app if extend this class, override request permission method and put desired ones.
Then register your custom service instead default

[code]

[2020-10-27 22:07] mr-johnlocke8 commented on #39
Hi, thank you for the help.
I've implemented a custom service like you said, but when I attempt to open a call page, I get `Object reference not set to an instance of an object.` This is the relevant stack trace:
[code]

[2020-10-27 22:14] AndreiMisiukevich commented on #39
Did you register it ```CrossOpenTok.Init(() => new CustomPlatformOpenTokService())``` ?

[2020-10-27 22:23] mr-johnlocke8 commented on #39
Yes.

Did exactly like this:
[code]

[2020-10-28 08:40] AndreiMisiukevich commented on #39
Please show me your CustomPlatformOpenTokService class

[2020-10-28 11:11] mr-johnlocke8 commented on #39
Sure. Basically copied PlatformOpenTokService and just changed the permissions.

[code]

[2020-10-28 11:23] AndreiMisiukevich commented on #39
Wow) I meant just

[code]

Well if it doesn't help I need to take a look

[2020-10-28 13:04] mr-johnlocke8 commented on #39
You can't inherit from `sealed class` tho.

[2020-10-28 13:06] AndreiMisiukevich commented on #39
Oh, you are right... Need to update it

[2020-10-28 13:21] mr-johnlocke8 commented on #39
I'd be happy to make those adjustments, but I need to make sure it works.
As a temporary hack I've "reimplemented" the entire class and just changed the permissions, but I get this error:

Do you have an idea about this problem? Where can it be fixed?

[2020-10-28 13:26] AndreiMisiukevich commented on #39
Yes, sure. And I will fix it today

[2020-10-28 20:40] AndreiMisiukevich commented on #39
[code]

[2020-10-29 12:38] mr-johnlocke8 commented on #39
Hi Andrei,
Thank you for the changes.

**Android**
As soon as I open the call page, I get the following error:
`validateClientPermissionsLocked:1120: Caller "com.example.app" (PID 10363, UID 24879) cannot open camera "1" without camera permission`

**iOS**
It just asks me for Camera permissions.

This is the .xaml side
[code]

`App.xaml.cs`
[code]

[2020-10-29 12:48] AndreiMisiukevich commented on #39
Do you see this bug on iOS only? Or both iOS and Android

[2020-10-29 12:54] mr-johnlocke8 commented on #39
Only Android raise the said exception. But iOS still ask for camera permissions.
I may add that the subscriber view does show video, only the publisher is voice only.

[2020-10-29 13:10] AndreiMisiukevich commented on #39
Would you like to debug the plugin?)

[2020-10-29 15:47] mr-johnlocke8 commented on #39
Sure!
Should I clone the repository into my project and uninstall the nuget package?

[2020-10-29 16:13] AndreiMisiukevich commented on #39
I guess yes

[2020-11-01 09:29] byronCoetzee opened #40 "Screen share - is this possible in this package"
Hi Andrei,

is it possible to to switch to screen sharing in this package?

If not can you put it in?

Regards
Byron

[2020-11-01 19:49] AndreiMisiukevich commented on #40
Hi, I don't think it's supported now
Feel free to submit a PR with this feature

[2020-11-02 01:01] #39 closed

[2020-11-02 01:03] AndreiMisiukevich commented on #39
1.3.1

[2020-11-02 02:13] #40 closed

[2020-11-02 02:19] AndreiMisiukevich commented on #40
implemented in 1.3.2

[2020-12-15 13:58] AhmedTaha0 opened #41 "I can't end session in android even if I call "CrossOpenTok.Current.EndSession()". The stream is still running."

[2020-12-15 14:12] AndreiMisiukevich commented on #41
Would you like to debug this case?

[2020-12-15 15:06] AhmedTaha0 commented on #41
First thanks for your fast reply. I can't understand what you mean by debugging this case. After I call "CrossOpenTok.Current.EndSession()" and navigate back I can't hear the other participant however my "output console" in vs still show that the stream is still running i.e. there is still a process running in the background. Hint: I talking about sample project so do you have any explanation for

[2020-12-15 15:13] AndreiMisiukevich commented on #41
Under "debugging" I mean downloading this project with the sample, setting up your keys, and watching what happens in code)

https://github.com/AndreiMisiukevich/OpenTok-Xamarin.Forms/blob/master/Lib/Xamarin.Forms.OpenTok.Android/Service/PlatformOpenTokService.cs#L81

As you can see we clear everything possible. Disconnect from the session and then dispose it

[2020-12-15 15:24] AhmedTaha0 commented on #41
Yes I understand however I run and debug this project and setting up my keys and after "EndSession()" is called there is still a process running in "output console" in visual studio which means that there is a process running in the background as you see in the image. The process is only closed when I kill the app.
![image](https://user-images.githubusercontent.com/54868016/102235239-ca32b900-3efa

[2020-12-15 15:35] AndreiMisiukevich commented on #41
It can be some process out of our control. This plugin uses another xamarin plugin that wraps native SDK :)
I am not sure I can fix it somehow.

[2020-12-15 15:40] AhmedTaha0 commented on #41
ok thanks for your support

[2021-01-11 20:32] ivanrlg opened #42 "Is it possible to use with UWP?"
Hello, excellent project. I am making an app in Xamarin for health, and I would like to integrate video calls, is it possible to do this with UWP?

Best regards.

[2021-01-11 23:05] AndreiMisiukevich commented on #42
Hello, unfortunately, UWP is not supported by the SDK developer https://tokbox.com/developer/sdks/windows/

[2021-01-11 23:05] #42 closed

[2021-03-31 12:49] AhmedTaha0 opened #43 "Can I force video call to use "Media volume button control" instead of "Call volume button" in Android?"
I tried 2 approaches and **none of them work**

1) By setting "GetStreamVolume"  in "OnCreate" method
[code]
2) Set "VolumeControlStream"
[code]
Any help? please.

[2021-03-31 20:21] AndreiMisiukevich commented on #43
Hello, I am not sure it's possible now.
At least I cannot find how to set audio level for iOS and Android (but found for Web)

[2021-04-07 05:31] Bhargav-1995 opened #44 "Xamarin.Vonage.Android is not compiling for Andriod-10 and above"
Im using Xamarin.Opentok.Android -2.18.1, im able to create video call from my android app. When i tried to upgrade the app target version to 10, video call is not working.
We have developed a telemedicine app using Xamarin-4.8. The app is live in certain regions. we have built for both android and ios. we updated the app recently and uploaded on play store. a lot of customers who are on android 1

[2021-04-07 05:32] Bhargav-1995 commented on #44
Please Provide sample solution for Xamrin.Vonage.Android

[2021-04-07 20:31] AndreiMisiukevich commented on #44
Hi @Bhargav-1995 you created an issue in the wrong repository :)

Here is the right one: https://github.com/DreamTeamMobile/Xamarin.Opentok.Samples

CC @alexsorokoletov

[2021-04-07 20:31] #44 closed

[2021-04-11 13:33] AhmedTaha0 commented on #43
Thank you for your support and I'm sorry for replying late

[2021-04-11 13:36] AhmedTaha0 commented on #43
@AndreiMisiukevich
I have another question. How to set accept ratio into "Fit" during video call in Vonage?

[2021-04-11 21:09] AndreiMisiukevich commented on #43
It's an enhancement and requires implementation

[2021-04-11 21:43] AndreiMisiukevich commented on #43
@AhmedTaha0 use v.1.3.4
Set those props https://github.com/AndreiMisiukevich/OpenTok-Xamarin.Forms/blob/master/Lib/Xamarin.Forms.OpenTok/Service/IOpenTokService.cs#L23-L25

[2021-04-11 21:43] #43 closed

[2021-04-14 11:44] AhmedTaha0 commented on #43
I'm speechless for your quick support, Thank you

[2021-04-24 01:11] ivanrlg opened #45 "Attempt to read from field 'android.os.MessageQueue android.os.Looper.mQueue' on a null object reference"
Hello,

I have been using your nutget and I like it. but with great frequency, I get this exception in android: `android.os.MessageQueue android.os.Looper.mQueue`.

Here I leave a trace a little longer before reaching the error:
[code]

Best regards,

[2021-04-24 21:42] AndreiMisiukevich commented on #45
I guess we need to call this code on the UI thread.
You can try it on your side (just call TryStartSession in Device.BeginInvokeInMainthread)

[2021-04-25 20:17] #45 closed

[2021-04-25 20:23] AndreiMisiukevich commented on #41
Closing this issue since it is not supposed to be fixed (Also, I am not sure this output is related to opentok at all)
If you have any idea how to fix it, feel free to submit a PR

[2021-04-25 20:23] #41 closed

[2021-04-25 22:59] ivanrlg opened #46 "Session Ended Event"
Hello Andrei,

Is there the possibility of implementing an event that allows us to be notified when a session from the other end has ended session? something similar to this Session.StreamDropped event?

Best regards,

[2021-04-25 23:22] AndreiMisiukevich commented on #46
Hi @ivanrlg please use ```StreamIdCollectionChanged``` for this purpose (It is triggered every time a new participant added or removed)

[2021-04-25 23:22] #46 closed

[2021-05-01 17:51] ivanrlg opened #47 "Error in Camera"
Hello Andrei,

I'm using your nutget, at some point I made a call and ended it, then I tried to make another call a few minutes later and I saw that there were problems with the visualization of one of the cameras.

The question is, is there something that can be done on your project side or mine to prevent the following error:

[code]

Open
Stack traces
[code]

Best regards.

[2021-05-01 23:45] AndreiMisiukevich commented on #47
Does it happen on all devices?
Don't you use your camera somewhere else?

[2021-05-01 23:55] ivanrlg commented on #47
Hello, so far it has happened to me 1 time.

I was not using the camera elsewhere.

[2021-05-02 00:23] AndreiMisiukevich commented on #47
I am not sure we can fix it then :( if we can't reproduce it

[2021-05-02 00:26] AndreiMisiukevich commented on #47
it should be a crash inside opentok native library

[2021-05-02 00:31] AndreiMisiukevich opened #48 "Switch to Vonage nuget packages"
https://www.nuget.org/packages/Xamarin.Vonage.iOS/
https://www.nuget.org/packages/Xamarin.Vonage.Android/

[2021-05-02 12:03] AndreiMisiukevich commented on #47
This package will be deprecated soon

I will publish a new package with dependency on Vonage packages. I will let you know :)  Transition will be smooth
https://github.com/AndreiMisiukevich/OpenTok-Xamarin.Forms/issues/48

[2021-05-02 12:58] ivanrlg commented on #47
Hello Andrei, Ok. Thank you very much for your feedback. I will be pending thanks.

[2021-05-05 01:43] AndreiMisiukevich commented on #28
https://github.com/AndreiMisiukevich/Xamarin.Forms.Vonage

[2021-05-05 01:43] #28 closed

[2021-05-05 01:43] AndreiMisiukevich commented on #47
https://github.com/AndreiMisiukevich/Xamarin.Forms.Vonage

[2021-05-05 01:43] #47 closed

[2021-05-05 01:43] AndreiMisiukevich commented on #48
https://github.com/AndreiMisiukevich/Xamarin.Forms.Vonage

[2021-05-05 01:43] #48 closed

[2021-05-05 01:43] AndreiMisiukevich commented on #31
https://github.com/AndreiMisiukevich/Xamarin.Forms.Vonage

[2021-05-05 01:43] #31 closed